<h1>
  Report
</h1>
<p>
  <%= link_to 'back', urls_new_path %>
</p>

<ul>
  <% list_count = 0 %>  
  <% @conversion.each do |conv| %>
    <li>
      <h4>
        <% list_count += 1 %>
        <%= conv.date.to_s + " : " + conv.count.to_s %>
      </h4>
      <% if list_count == 10 %>
      <% break %>
      <% end %>
    </li>
  <% end %>
</ul>